
html {
    position: relative;
    background-color: var(--md-sys-color-surface);
    font-family: 'Open Sans', sans-serif;
    color: var(--md-sys-color-on-surface);
}

body {
    position: relative;
    margin: 0;
    max-width: 100vw;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

h1, h2{
    text-align: center;
}

h2{
    font-size: 0.5em;
}

.hamburger {
    position: relative;
    cursor: pointer;
    height: 1.2em;
font-size: 1.2em;
    z-index: 2;
}

/* nav styles */

.nav-links {
    flex-direction: column;
    background-color: white;
    position: fixed;
    z-index: 1;
    right: 0;
    width: 40vw;
    align-items: flex-end;
    padding: 1em;
    height: 100vh;
    display: none;
    color: black;
}

.nav-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: black
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: flex;
}

@media screen and (min-width: 636px) {
    body {
        padding: 2rem;
    }


    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        font-weight: 100;
        color: var(--md-sys-color-on-surface);
    }

    .hamburger {
        display: none;
    }
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}