#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245 251 247 / 13%);
  padding: 1em;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  width: 100%;
  flex-grow: 1;
  box-shadow: 2px 4px 10px -5px rgb(0 0 0 / 25%);
  border: 1px solid #ffffff26;
  justify-content: center;
  margin-top: 2em;
}