---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "PPMI Madinah";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>
    Persatuan Pelajar dan Mahasiswa Indonesia<br />Kota Madinah, Arab Saudi
  </h2>
</BaseLayout>
