---
import SocialCard from "../components/SocialCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/main.css";
const pageTitle = "PPMI Madinah";
const pageSubtitle = "Persatuan Pelajar dan Mahasiswa Indonesia";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <h3>Kota Madinah, Arab Saudi</h3>
  <SocialCard platform="instagram" followers="147K+" />
</BaseLayout>
<style is:global>
  body {
    z-index: -1;
    position: relative;
    background: url("../images/bg4.webp") no-repeat center;
    background-size: cover;
  }

  #title {
    display: flex;
    flex-direction: column;
  }

  #main{
    
  }

  h1,
  h2 {
    margin: 0;
    font-weight: 100;
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
</style>
