---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <Icon class="icon" name="logo" />
        <p class="head-name">PPMI Madinah</p>
        <Hamburger />
        <Navigation />
    </nav>
</header>
<style>
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 1em 1.5em;
    }

    .head-name {
        font-size: 1em;
        margin: 0;
        font-weight: 500;
        color: white;
    }

    .icon {
        font-size: 1.5em;
    }
</style>
