---
import { Icon } from 'astro-icon/components'
---

<div class="nav-links">
    <Icon name="logo" />
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags/">Tags</a>
</div>
<style>
    a {
        color: var(--md-sys-color-on-surface);
    }
</style>
