---
import { Icon } from "astro-icon/components";

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}><Icon name=`${platform}`/></a>

<style>
  a {
    text-decoration: none;
  }
</style>
